{% extends 'spaceproj/layout.html' %} {% load static %} {% block content %}

<!-- Page Banner Start -->
<div
  class="section page-banner-section"
  style="background-image: url(static/images/page-banner.jpg)"
>
  <div class="shape-2"></div>
  <div class="container">
    <div class="page-banner-wrap">
      <div class="row">
        <div class="col-lg-12">
          <!-- Page Banner Content Start -->
          <div class="page-banner text-center">
            <h2 class="title">About Us</h2>
            <ul class="breadcrumb justify-content-center">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                About Us
              </li>
            </ul>
          </div>
          <!-- Page Banner Content End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Banner End -->

<!-- About Start -->
<div class="section about-section section-padding">
  <div class="container">
    <!-- About Wrap Start -->
    <div class="about-wrap">
      <div class="row">
        <div class="col-lg-6">
          <!-- About Thumb Wrap Start -->
          <div class="about-thumb-wrap">
            <div class="about-thumb-small">
              <img src="{% static 'images/about-1.jpg' %}" alt="" />
            </div>
            <div class="about-thumb-big">
              <img src="{% static 'images/about-2.jpg' %}" alt="" />
            </div>
            <div class="about-thumb-shape">
              <img src="{% static 'images/ab-shape.png' %}" alt="" />
            </div>
          </div>
          <!-- About Thumb Wrap End -->
        </div>
        <div class="col-lg-6">
          <!-- About Content Start -->
          <div class="about-content">
            <div class="section-title">
              <h3 class="sub-title">Who We Are</h3>
              <h2 class="title">
                Making dreams come true!
              </h2>
            </div>
            <p>
              Interstellar travel destination envisions a time when people can tap into the limitless resources of space and enable the movement of damaging industries into space to preserve Earth, humanity’s blue origin.
            </p>
          </div>
          <!-- About Content End -->
        </div>
      </div>
    </div>
    <!-- About Wrap End -->
  </div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="section service-section service-section-5">
  <div class="container">
    <div class="service-wrap">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <!-- Service Item Start -->
          <div class="service-item about-service-item text-center">
            <div class="shape-1"></div>
            <div class="shape-2">
              <img src="{% static 'images/service/s-shape-2.png' %}" alt="" />
            </div>
            <div class="service-icon">
              <img src="{% static 'images/service/service-1.png' %}" alt="" />
            </div>
            <div class="service-content">
              <h3 class="title"><a href="#">Latest Spacecrafts</a></h3>
              <p>
                Interstellar Travel Destinations has developed reusable launch vehicles and in-space systems that are safe and low cost.
              </p>
            </div>
          </div>
          <!-- Service Item End -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Service Item Start -->
          <div class="service-item about-service-item text-center">
            <div class="shape-1"></div>
            <div class="shape-2">
              <img src="{% static 'images/service/s-shape-2.png' %}" alt="" />
            </div>
            <div class="service-icon">
              <img src="{% static 'images/service/service-2.png' %}" alt="" />
            </div>
            <div class="service-content">
              <h3 class="title"><a href="#">Customer satisfaction</a></h3>
              <p>
                We ensure that the clients that utilize our services have satisfied their expectations.
              </p>
            </div>
          </div>
          <!-- Service Item End -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Service Item Start -->
          <div class="service-item about-service-item text-center">
            <div class="shape-1"></div>
            <div class="shape-2">
              <img src="{% static 'images/service/s-shape-2.png' %}" alt="" />
            </div>
            <div class="service-icon">
              <img src="{% static 'images/service/service-3.png' %}" alt="" />
            </div>
            <div class="service-content">
              <h3 class="title"><a href="#">Qualified Team</a></h3>
              <p>
                All the members of our team have been handpicked after a lot of scrutiny.
              </p>
            </div>
          </div>
          <!-- Service Item End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->


<!-- About Start -->
<div class="section about-section section-padding" style="margin-top: 130px;">
  <div class="container">
    <!-- About Wrap Start -->
    <div class="about-wrap">
      <div class="row">
        <div class="col-lg-6">
          <!-- About Content Start -->
          <div class="about-content" style="margin-left: -40px;">
            <div class="section-title">
              <h3 class="sub-title">What We Do</h3>
              <h2 class="title">
                Increase Access to Space
              </h2>
            </div>
            <p>
              Our company is working today to create that future by developing reusable 
              launch vehicles and in-space systems that are safe, low cost, and 
              serve the needs of all civil, commercial, and defense customers.
              These endeavors will add new chapters to the history of spaceflight and 
              move all of humanity closer to that founding vision.
            </p>
          </div>
          <!-- About Content End -->
        </div>
        <div class="col-lg-6">
          <!-- About Thumb Wrap Start -->
          <div class="about-thumb-wrap">
            <div class="about-thumb-small">
              <img src="{% static 'images/about-1.jpg' %}" alt="" />
            </div>
            <div class="about-thumb-big">
              <img src="{% static 'images/about-2.jpg' %}" alt="" />
            </div>
            <div class="about-thumb-shape">
              <img src="{% static 'images/ab-shape.png' %}" alt="" />
            </div>
          </div>
          <!-- About Thumb Wrap End -->
        </div>
      </div>
    </div>
    <!-- About Wrap End -->
  </div>
</div>
<!-- About End -->

{% endblock %}
