{% load static %}

<!-- Footer Section Start -->
<div class="section footer-section footer-section-3">
  <div class="container">
    <!-- Footer Widget Wrap Start -->
    <div class="footer-widget-wrap footer-widget-wrap-2">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <!-- Footer Widget Start -->
          <div class="footer-widget-about">
            <a class="footer-logo" href="index-2.html"
              ><img src="{% static 'images/logo-2.png' %}" alt="Logo"
            /></a>
            <div class="widget-info widget-info-3">
              <ul>
                <li>
                  <div class="info-icon">
                    <i class="flaticon-phone-call"></i>
                  </div>
                  <div class="info-text">
                    <span><a href="#">+1 345 1413 421</a></span>
                  </div>
                </li>
                <li>
                  <div class="info-icon">
                    <i class="far fa-envelope-open"></i>
                  </div>
                  <div class="info-text">
                    <span><a href="#">contact@interstellar.com</a></span>
                  </div>
                </li>
                <li>
                  <div class="info-icon">
                    <i class="flaticon-pin"></i>
                  </div>
                  <div class="info-text">
                    <span>123 Figuerao Street, Los Angeles</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Footer Widget End -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Footer Widget Start -->
          <div class="footer-widget footer-widget-3">
            <h4 class="footer-widget-title">Useful Links</h4>

            <div class="widget-link">
              <ul class="link">
                <li>
                  <a href="{% url 'index' %}">Home</a>
                </li>
                <li>
                  <a href="{% url 'plan' %}">Plan</a>
                </li>
                <li>
                  <a href="{% url 'about' %}">About Us</a>
                </li>
                <li>
                  <a href="#">Book FLight</a>
                </li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <!-- Footer Widget End -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Footer Widget Start -->
          <div class="footer-widget footer-widget-3">
            <h4 class="footer-widget-title">Our Services</h4>

            <div class="widget-link">
              <ul class="link">
                <li><a href="#">Traveling</a></li>
                <li><a href="#">Managment</a></li>
                <li><a href="#">Spave Travels</a></li>
                <li><a href="#">Become Astraunaut</a></li>
              </ul>
            </div>
          </div>
          <!-- Footer Widget End -->
        </div>
      </div>
    </div>
    <!-- Footer Widget Wrap End -->
  </div>

  <!-- Footer Copyright Start -->
  <div class="footer-copyright-area footer-copyright-3">
    <div class="container">
      <div class="footer-copyright-wrap">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <!-- Footer Copyright Text Start -->
            <div class="copyright-text">
              <p>
                © Copyrights 2022 <a href="#">Interstellar</a> Travel Destination
              </p>
            </div>
            <!-- Footer Copyright Text End -->
          </div>
          <div class="col-lg-6 col-md-6">
            <!-- Footer Copyright Social Start -->
            <div class="copyright-social">
              <ul class="social">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
            <!-- Footer Copyright Social End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Copyright End -->
</div>
<!-- Footer Section End -->
